@charset "utf-8";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

section {
  padding-top: 100px;
}

section#main,
section#bestItem {
  padding-top: 0;
}

.title {
  text-align: center;
  font-size: var(--title-font);
}

/* top button */
.topBtn {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  width: 48px;
  height: 48px;
  line-height: 52px;
  border: 3px solid #000;
  background: #fff;
  text-align: center;
  z-index: 9999;
  cursor: pointer;
  transition: 0.8s;
  transform: translateY(400%);
}

.topBtn.active {
  transform: translateY(0);
}

.topBtn i {
  color: #000;
  font-size: 25px;
  font-weight: var(--bold-font);
}

/* header */
header .logoDarkMode,
header:hover .logoWhiteMode,
header .logoWhiteMode.active {
  display: none;
}

header:hover .logoDarkMode,
header .logoDarkMode.active {
  display: block;
}

header:hover,
header.active {
  background-color: #fff;
}

header .firstCate a,
header .userIcon i {
  color: #fff;
  transition: 0.5s;
}

header:hover .firstCate a,
header .firstCate a.active,
header:hover .userIcon i,
header .userIcon i.active {
  color: #2e2e2e;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main .mainWrap .slick-dots li:last-child button {
  padding-right: 0;
}

header .userBox input {
  background: url("../img/search.png") no-repeat center/cover;
  background-size: 23px;
  background-position: 90% 6px;
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0.479);
}

header:hover .userBox input,
header .userBox input.active {
  color: #2e2e2e;
  border: 2px solid #2e2e2e;
  background: url("../img/search_black.png") no-repeat center/cover;
  background-size: 23px;
  background-position: 90% 6px;
}

header .userBox i {
  color: #fff;
}

/* main */
#main .mainWrap {
  position: relative;
}

#main .mainWrap .slick-arrow {
  position: absolute;
  font-size: 0;
  width: 2.2395833333333335vw;
  height: 2.2395833333333335vw;
  background: url("../img/main_slide_arrow.png") no-repeat center/cover;
  border: none;
  z-index: 5;
  top: 71.5%;
  cursor: pointer;
}

#main .mainWrap .slick-prev {
  left: 17.4%;
}

#main .mainWrap .slick-next {
  transform: rotate(180deg);
  left: 20%;
}

#main .mainWrap .mainSlideBox {
  position: relative;
}

#main .mainWrap .desc {
  position: absolute;
  top: 45%;
  left: 17%;
  font-size: var(--big-font);
  font-weight: var(--bold-font);
}

#main .mainWrap .desc p {
  color: #fff;
}

#main .mainWrap .slick-dots {
  display: flex;
  position: absolute;
  bottom: 31.5%;
  left: 18.6%;
}

#main .mainWrap .slick-dots li:first-child:before {
  content: "01";
  color: #fff;
  position: absolute;
  top: -8px;
  left: -25px;
}

#main .mainWrap .slick-dots li:last-child:after {
  content: "03";
  color: #fff;
  position: absolute;
  top: -8px;
  left: 55px;
}

#main .mainWrap .slick-dots li {
  position: relative;
  margin-right: 3px;
  width: 50px;
  height: 10px;
}

#main .mainWrap .slick-dots li button {
  font-size: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  border: none;
  cursor: pointer;
}

#main .mainWrap .slick-dots .slick-active button {
  opacity: 1;
}

/* keywords */
#keywords .title,
#bestItem .title {
  position: relative;
}

#keywords .title a,
#bestItem .title a {
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
}

#keywords .title .line:before,
#keywords .title .line:after,
#bestItem .title .line:before,
#bestItem .title .line:after {
  content: "";
  position: absolute;
  height: 1px;
  background: #111;
  top: 50%;
}

#keywords .title .line:before,
#keywords .title .line:after {
  width: 183.5%;
}

#bestItem .title .line:before,
#bestItem .title .line:after {
  width: 244%;
}

#keywords .title .line:before,
#bestItem .title .line:before {
  right: 100%;
}

#keywords .title .line:after,
#bestItem .title .line:after {
  left: 100%;
}

#keywords .keywordBox {
  padding: 50px 0;
}

#keywords .keywordBox .keyword {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

#keywords .keywordBox .keyword li {
  border: 1px solid var(--sec-font-color);
  border-radius: 20px;
  padding: 8px 25px;
  margin-right: 15px;
  /* font-weight: 300; */
}

#keywords .keywordBox .keyword li:last-child {
  margin-right: 0;
}

/* best item */
#bestItem .swiper {
  position: relative;
  overflow: visible;
  padding: 50px 0;
}

#bestItem .swiper-pagination {
  position: absolute;
  top: 100%;
}

#bestItem .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #2e2e2e;
}

#bestItem .swiper-button-next,
#bestItem .swiper-button-prev {
  width: 48px !important;
  height: 48px !important;
  background: url("../img/best_item_arrow.jpg") no-repeat center/cover;
}

#bestItem .swiper-button-next {
  transform: rotate(180deg);
}

#bestItem .swiper-button-next:after,
#bestItem .swiper-button-prev:after {
  display: none;
}

#bestItem .swiper-slide .desc p:first-child {
  font-size: var(--small-font);
  margin: 20px 0;
}
#bestItem .swiper-slide .desc p:nth-child(2) {
  font-size: var(--small-font);
  color: var(--sec-font-color);
  text-decoration: line-through;
}
#bestItem .swiper-slide .desc p:last-child {
  font-size: var(--normal-font);
  font-weight: var(--bold-font);
}
#bestItem .swiper-slide .desc span {
  padding-right: 10px;
  color: var(--primary-color);
}

#bestItem .bestTabNavi {
  display: flex;
  justify-content: center;
}

#bestItem .bestTabNavi li {
  /* width: 10%; */
  margin: 20px 40px 0 0;
  text-align: center;
  font-size: var(--normal-font);
  color: #d1d1d1;
}

#bestItem .bestTabNavi li:last-child {
  margin-right: 0;
}

#bestItem .bestTabNavi li a {
  display: block;
  font-weight: 300;
  height: 100%;
  padding: 1.3rem 0;
  font-weight: var(--bold-font);
}

#bestItem .bestTabNavi li a.active {
  color: #2e2e2e;
}

/* arrival */
#arrival .arrivalSlide a .desc {
  margin: 25px 0 0 70px;
}

#arrival .relPrd {
  width: 220px;
  height: 220px;
}

#arrival .arrivalSlide a .desc {
  display: flex;
  justify-content: space-between;
}

#arrival .arrivalSlide a .desc .relPrdBox {
  display: flex;
}

#arrival .arrivalSlide a .desc .relPrdBox .relPrd {
  margin: 25px 50px 0 0;
}

#arrival .arrivalSlide a .desc p {
  font-size: var(--normal-font);
}

#arrival .arrivalSlide a .desc p span {
  font-size: 35px;
  font-weight: var(--bold-font);
  letter-spacing: -1.5px;
}

/* #arrival .arrivalSlide a .desc p:first-child {
  letter-spacing: -1px;
} */

/* #arrival .arrivalSlide a .desc p:last-child {
  background: #2e2e2e;
  color: #fff;
  display: inline-block;
  padding: 0 30px;
  margin: 20px 0 0 9px;
} */

#arrival .arrivalSlide {
  position: relative;
}

#arrival .slick-dots {
  /* position: absolute;
  display: flex;
  align-items: center;
  bottom: 310px;
  right: 60px;
  width: 170px;
  height: 35px; */

  position: absolute;
  display: flex;
  align-items: center;
  top: 10%;
  right: 60px;
  width: 35px;
  height: 170px;
  flex-direction: column;
  justify-content: space-between;
}

#arrival .slick-dots li {
  width: 15px;
  height: 15px;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  transition: 300ms;
}

#arrival .slick-dots li button {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: #2e2e2e;
  cursor: pointer;
  transition: 300ms;
  font-size: 0;
}

#arrival .slick-dots li button:before {
  content: "0";
}

#arrival .slick-dots .slick-active {
  width: 35px;
  height: 35px;
}

#arrival .slick-dots .slick-active button {
  font-size: var(--small-font);
  font-weight: var(--bold-font);
  color: #fff;
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  background: var(--primary-color);
}

/* sns */
#sns .snsWrap {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

#sns .snsID {
  font-weight: var(--bold-font);
}

#sns .snsMove {
  border: 1px solid var(--sec-font-color);
  display: inline-block;
  border-radius: 20px;
  padding: 0 20px;
  margin: 15px 0;
  color: var(--sec-font-color);
}

#sns .snsWrap .snsPhoto {
  display: flex;
  flex-wrap: wrap;
}

#sns .snsWrap .snsPhoto li {
  padding: 1px;
  width: 25%;
  font-size: 0;
}

#sns .instarBox {
  display: inline-block;
  width: 15px;
  height: 15px;
  float: right;
}

/* etc */
#etc .etcWrap {
  display: flex;
}

#etc .box {
  width: 33.3333%;
  font-size: 0;
  position: relative;
  cursor: pointer;
  transition: 300ms;
}

#etc .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.432);
  width: 100%;
  height: 100%;
}

#etc .box:before {
  top: 0;
}

#etc .box:after {
  bottom: 0;
}

#etc .box:before,
#etc .box:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  z-index: 9999;
  left: 0;
  background: #fff;
  transition: 0.5s;
}

#etc .box:hover:before {
  width: 2px;
  height: 100%;
}

#etc .box:hover:after {
  width: 100%;
  height: 2px;
}

#etc .box .desc {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--normal-font);
  line-height: 7.208333333333334vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#etc .box .desc:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  background: #fff;
  transition: 0.5s;
}

#etc .box .desc:hover:after {
  width: 2px;
  height: 100%;
}

#etc .box .descBox {
  width: 70%;
  margin: 0 auto;
}

#etc .box .desc h4,
#etc .box .desc p {
  color: #fff;
}

#etc .box .desc p {
  font-weight: 300;
  line-height: normal;
  word-break: keep-all;
}
