main {
  margin-top: 50px;
}

main .inner {
  display: flex;
}

section,
aside {
  padding-top: 100px;
}

header {
  background: #fff;
}

/* 필터검색 */
aside {
  width: 250px;
}

aside .filterBox .title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

aside .filterBox .box {
  margin-top: 40px;
}

aside .selectBox {
  margin-bottom: 5px;
}

aside .flexBox {
  display: flex;
  flex-wrap: wrap;
}

aside input[type="checkbox"] {
  transform: translateY(3px);
  width: 15px;
  height: 15px;
  margin-right: 3px;
  accent-color: #000;
}

aside .price .selectBox {
  display: inline-block;
  width: 120px;
}

aside .size .selectBox {
  width: 60px;
}

aside .color .selectBox {
  width: 80px;
}

aside .selectBox button {
  font-size: 0;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  background: none;
  border: 1px solid rgb(141, 141, 141);
}

.ps-chkbox {
  position: relative;
}

.ps-chkbox > label {
  cursor: pointer;
}

.ps-chkbox > label > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.ps-chkbox > label > input[type="checkbox"] + .text {
  position: relative;
  padding-left: 22px;
}

.ps-chkbox > label > input.red + .text::before {
  background-color: #ff0000;
}

.ps-chkbox > label > input.orange + .text::before {
  background-color: #f7a000;
}

.ps-chkbox > label > input.beige + .text::before {
  background-color: #f5f5dc;
}

.ps-chkbox > label > input.pink + .text::before {
  background-color: #ff69b4;
}

.ps-chkbox > label > input.brown + .text::before {
  background-color: #a52a2a;
}

.ps-chkbox > label > input.grey + .text::before {
  background-color: #919499;
}

.ps-chkbox > label > input.green + .text::before {
  background-color: #008000;
}

.ps-chkbox > label > input.blue + .text::before {
  background-color: #0000ff;
}

.ps-chkbox > label > input.navy + .text::before {
  background-color: #000080;
}

.ps-chkbox > label > input.black + .text::before {
  background-color: #000000;
}

.ps-chkbox > label > input.white + .text::before {
  background-color: #ffffff;
}

.ps-chkbox > label > input.purple + .text::before {
  background-color: #a040ce;
}

.ps-chkbox > label > input[type="checkbox"] + .text::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: thin solid rgb(199, 199, 199);
}

.ps-chkbox > label > input[type="checkbox"].etc-color:checked + .text::before {
  background-image: url(../img/logo_b2b.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}
