main {
  margin-top: 50px;
}

main .inner {
  display: flex;
}

section,
aside {
  padding-top: 100px;
  width: calc(100% - 250px);
}

section {
  padding-left: 40px;
}

header {
  background: #fff;
}

/* 필터검색 */
aside {
  width: 250px;
  margin-bottom: 50px;
}

aside .filterBox .title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

aside .filterBox .box {
  margin-top: 40px;
}

aside .selectBox {
  margin-bottom: 5px;
}

aside .flexBox {
  display: flex;
  flex-wrap: wrap;
}

aside input[type="checkbox"] {
  transform: translateY(3px);
  width: 15px;
  height: 15px;
  margin-right: 3px;
  accent-color: #000;
}

aside .price .selectBox {
  display: inline-block;
  width: 120px;
}

aside .size .selectBox {
  width: 60px;
}

aside .color .selectBox {
  width: 80px;
}

aside .selectBox button {
  font-size: 0;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
  background: none;
  border: 1px solid rgb(141, 141, 141);
}

aside .colorCheckBox {
  position: relative;
}

aside .colorCheckBox > label {
  cursor: pointer;
}

aside .colorCheckBox > label > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

aside .colorCheckBox > label > input[type="checkbox"] + .text {
  position: relative;
  padding-left: 22px;
}

aside .colorCheckBox > label > input.red + .text::before {
  background-color: #ff0000;
}

aside .colorCheckBox > label > input.orange + .text::before {
  background-color: #f7a000;
}

aside .colorCheckBox > label > input.beige + .text::before {
  background-color: #f5f5dc;
}

aside .colorCheckBox > label > input.pink + .text::before {
  background-color: #ff69b4;
}

aside .colorCheckBox > label > input.brown + .text::before {
  background-color: #a52a2a;
}

aside .colorCheckBox > label > input.grey + .text::before {
  background-color: #919499;
}

aside .colorCheckBox > label > input.green + .text::before {
  background-color: #008000;
}

aside .colorCheckBox > label > input.blue + .text::before {
  background-color: #0000ff;
}

aside .colorCheckBox > label > input.navy + .text::before {
  background-color: #000080;
}

aside .colorCheckBox > label > input.black + .text::before {
  background-color: #000000;
}

aside .colorCheckBox > label > input.white + .text::before {
  background-color: #ffffff;
}

aside .colorCheckBox > label > input.purple + .text::before {
  background-color: #a040ce;
}

aside .colorCheckBox > label > input[type="checkbox"] + .text::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: thin solid rgb(199, 199, 199);
}

aside
  .colorCheckBox
  > label
  > input[type="checkbox"].etc-color:checked
  + .text::before {
  background-image: url(../img/secCate_page/check.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px;
}

aside
  .colorCheckBox
  > label
  > input[type="checkbox"].beige:checked
  + .text::before {
  background-image: url(../img/secCate_page/check_black.png);
}
aside
  .colorCheckBox
  > label
  > input[type="checkbox"].white:checked
  + .text::before {
  background-image: url(../img/secCate_page/check_black.png);
}

aside .resetBtn {
  margin-top: 20px;
  background: none;
  width: 100%;
  height: 47px;
  line-height: 47px;
  cursor: pointer;
  font-size: var(--small-font);
  font-weight: var(--bold-font);
}

/* 상품나열 */
section .route {
  font-size: var(--small-font);
  font-weight: 300;
}

section .listTab {
  margin: 20px 0 40px;
  font-size: var(--normal-font);
}

section .listTab .listTabNavi {
  display: flex;
}

section .listTab .listTabNavi li {
  margin-right: 30px;
}

section .listTab .listTabNavi li:last-child {
  margin-right: 0;
}

section .listTab .listTabNavi li a {
  color: rgb(139, 139, 139);
  font-weight: 300;
}

section .listTab .listTabNavi li a.active {
  color: #000;
  font-weight: var(--bold-font);
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}

section .listTabContent {
  margin-bottom: 130px;
}

section .listTabContent .productBox {
  display: flex;
  flex-wrap: wrap;
}

section .listTabContent .productBox li {
  width: 25%;
  padding-bottom: 70px;
}

/* section .listTabContent .productBox li:hover {
  border: 1px solid #000;
} */

section .listTabContent .icon {
  width: 40px;
  height: 17px;
  margin-top: 10px;
}

section .listTabContent .price {
  display: flex;
}

section .listTabContent .name {
  margin: 8px 0;
}

section .listTabContent p {
  font-size: var(--small-font);
  color: rgb(139, 139, 139);
}

section .listTabContent .price p:first-child {
  text-decoration: line-through;
  margin-right: 7px;
}

section .listTabContent .price p:last-child {
  color: #2e2e2e;
  font-weight: var(--bold-font);
}

section .more {
  width: 80px;
  height: 89px;
  margin: 50px auto 0;
  cursor: pointer;
}
