@charset "utf-8";

header {
  background: #fff;
}

main {
  margin-top: 50px;
}

section {
  padding-top: 100px;
}

#secret .checkBtn {
  text-align: center;
  font-size: var(--normal-font);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 80px;
}

#secret .checkBtn a {
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
}
#secret .checkBtn a:first-child {
  border: 2px solid #2e2e2e;
  margin-right: 5px;
}

#secret .checkBtn a:last-child {
  background: #2e2e2e;
  color: #fff;
}

#secret .secretBox {
    text-align: center;
    font-size: var(--normal-font);
}

#secret .password {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#secret .password p {
    margin-right: 10px;
}

#secret .password input {
    padding: 3px;
    outline: none;
    border: 1px solid #d1d1d1;
}